@charset "UTF-8";

*{margin:0;padding:0;vertical-align:middle;box-sizing:border-box;border:0;}
html, body{width:100%;}
html {overflow-y: scroll;}
body{font:normal 14px/1 'Montserrat','arial','sans-serif';color:#000;background:#fff;}
a{text-decoration:none;outline:0;color:#000;}
ul, li{list-style: none;}
.clearfix::after{display:block;clear:both;content:'';}
.blind{text-indent:-20000px;display:block;overflow:hidden;}
.hide{display:none;}
header, main, footer, aside, nav, section, article {display:block;}
